/* <style type ="text/css">*/
body {
 background-image: url(3D-HD-Wallpapers-Abstract-Desktop-Backgrounds.jpg);
 background-size: cover;
font-size: 60px;
font-family: Arial, Helvetica, sans-serif;
Color:rgb(189, 173, 173);
padding: 100px;
}
h1{ 
    text-align: center;
    background-color: rgba(49, 48, 61, 0.644);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(189, 173, 173);
